NODE_ENV=development
PORT=3000

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=devwallet
DATABASE_PASSWORD=devwallet_dev
DATABASE_NAME=devwallet

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Local chain nodes (Phase 0 not required, isi nanti)
ANVIL_RPC_URL=http://localhost:8545
SOLANA_RPC_URL=http://localhost:8899